.listview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .list{
        width: 100%;
        padding: 4px;
        display: flex;
        color: #666;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .list:hover h3{
        color: #fff;
    }
    
    .list .thumbnail{
        width: 80px;
        height: 60px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        margin-right: 8px;
        overflow: hidden;
    }
    .list .thumbnail img{
        width: 100%;
        height: 60px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        margin-right: 8px;
        vertical-align: bottom;
    }
    
    .list .title h3{
        font-size: 15px;
        font-weight: 600;
    }
    .list .title h3 span{
        font-size: 12px;
        display: block;
        margin-top: 4px;
        font-weight: normal;
    }
    .list .tracktime{
        font-size: 12px;
        text-align: center;
    }
    .list .actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list .actions > div{
        width: 30px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .list .actions .fav{
        cursor: pointer;
    }
    .list .actions .fav:hover i, .list .actions .fav.active i{
        color: red;
    }
    
    .list .actions .dropdown-item {
        padding: .25rem 0.5rem;
        font-size: 13px;
    }
    .list .actions .dropdown-item:hover {
        background-color: #282828;
        color: #00E5E5;
    }
    .list .dropdown-menu {
        background-color: #959696;
    }

    /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .desktoponly{
        display: block;
    }
    .mobileonly{
        display: none;
    }
    .conent-box{
        padding: 25px;
    }
    .tab-view .tab-content {
        padding: 20px;
    }
    .tab-view .listview .list{
        width: 48%;        
       // margin-bottom: 25px;
    }
    .list .title h3 {
        font-size: 18px;
    }
    .list .tracktime {
        font-size: 14px;
        
    }
    .tab-view .nav-tabs .nav-link {
        padding: .6rem 1rem;
        font-size: 17px;
    }
    .boxview .box {
        width: 16.6%;
        margin-bottom: 30px;
    }
    .boxview .box .title{
        font-size: 14px;
        padding-top: 20px;
    }
    .conent-box .heading{
        font-size: 36px;
        padding: 0px;
    }
    
 }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .tab-view .nav-tabs .nav-link {
        padding: .6rem 1rem;
        font-size: 15px;
    }
    .playerbox{
        height: 100px;
    }
    .playerbox .player{
        padding-bottom: 20px;
    }
    .playerbox .controls-list li.volume-level a{
        height: auto;
        width: 70px;
    }
    .playerbox .controls-list li.volume-level a .progress{
        height: 2px;
    }
    .playerbox .player .playbuttons{
        justify-content: space-between;
    }
    .playerbox .mediainfo .list .title, .playerbox .mediainfo .list .actions{
        display: flex;
    }
    .playerbox .controls-list li.volume-off, .playerbox .controls-list li.volume-down, .playerbox .controls-list li.volume-up, .playerbox .controls-list li.volume-level{
        display: inline;
    }
    .playerbox .player .playbuttons .currenttime, .playerbox .player .playbuttons .endtime{
        display: block;
    }
    .playerbox .controls-list li a{
        width: 30px;
        height: 30px;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .tab-view .nav-tabs .nav-link {
        padding: .8rem 1rem;
        font-size: 18px;
    }
    .playerbox .controls-list li a{
        width: 40px;
        height: 40px;
    }


 }
}