.createNewPlaylist {
    
}

.createmodal {
    top: 150px;
    .modal-content {
        background-color: black;
        border-radius: 31px;
        width: 78%;
        text-align: center;

        input {
            border-radius: 5px;
            background-color: #282828;
            color: #ffffff;
        }
        .margin17 {
            margin: 17px;
        }
    } 
}